@import 'tailwindcss';
@import './typography.css';

@theme {
  /*Colors*/
  --color-neutral-0: #ffffff;
  --color-neutral-100: #faf5f3;
  --color-neutral-200: #e6e1df;
  --color-neutral-700: #385159;
  --color-neutral-900: #062630;
  --color-light-salmon-50: #fff5ef;
  --color-light-salmon-100: #ffe2d1;
  --color-light-salmon-500: #fea36f;
  --color-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  /*Fonts*/
  --font-family-base: 'Martian Mono', sans-serif;
  --font-family-additional: 'Inter', sans-serif;
  --text-preset-1: 3.875rem;
  --text-preset-1--line-height: 1.2;
  --text-preset-1--letter-spacing: -2px;
  --text-preset-1-mobile: 2rem;
  --text-preset-1-mobile--line-height: 1.2;
  --text-preset-1-mobile--letter-spacing: -2px;
  --text-preset-2: 3.125rem;
  --text-preset-2--line-height: 1.3;
  --text-preset-2--letter-spacing: -2px;
  --text-preset-2-mobile: 2.125rem;
  --text-preset-2-mobile--line-height: 1.3;
  --text-preset-2-mobile--letter-spacing: -2px;
  --text-preset-3: 2.125rem;
  --text-preset-3--line-height: 1.3;
  --text-preset-3--letter-spacing: -1px;
  --text-preset-3-mobile: 1.5rem;
  --text-preset-3-mobile--line-height: 1.1;
  --text-preset-3-mobile--letter-spacing: -1px;
  --text-preset-4: 1.5rem;
  --text-preset-4--line-height: 1.1;
  --text-preset-4--letter-spacing: -1px;
  --text-preset-5: 1.25rem;
  --text-preset-5--line-height: 1.4;
  --text-preset-5--letter-spacing: -0.5px;
  --text-preset-6: 1.125rem;
  --text-preset-6--line-height: 1.3;
  --text-preset-6--letter-spacing: -1px;
  --text-preset-6-mobile: 1rem;
  --text-preset-6-mobile--line-height: 1.3;
  --text-preset-6-mobile--letter-spacing: -1px;
  --text-preset-7: 0.875rem;
  --text-preset-7--line-height: 1.2;
  --text-preset-7--letter-spacing: -1px;
}

@layer base {
  body {
    font-family: var(--font-family-base);
    font-weight: 600;
  }
}

@utility container {
  max-width: 73.125rem;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 768px) {
    padding-inline: 2rem;
  }
}
